<div class="background-image">
  <div class="caption">
    <span class="border">Find Out More</span>
  </div>
</div>

<div class="second-layer">
  <h1 class="text-center">TECHNOLOGIES</h1>
  <div class="container technologies-container">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 technologies-content">
      <img src="../assets/images/technologies/html5.png" alt="" class="img-responsive">
      <div class="description">HTML5</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 technologies-content">
      <img src="../assets/images/technologies/css3.png" alt="" class="img-responsive">
      <div class="description">CSS3</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 technologies-content">
      <img src="../assets/images/technologies/jquery.png" alt="" class="img-responsive">
      <div class="description">jQuery</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 technologies-content">
      <img src="../assets/images/technologies/javascript.png" alt="" class="img-responsive">
      <div class="description">JAVASCRIPT</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 technologies-content">
      <img src="../assets/images/technologies/electron.png" alt="" class="img-responsive">
      <div class="description">ELECTRON</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 technologies-content">
      <img src="../assets/images/technologies/angular.png" alt="" class="img-responsive">
      <div class="description">ANGULARJS 2</div>
    </div>
  </div>
</div>
